mixin AppArticle()
	mixin app-gallery()
		//
			`app-gallery` data format

			JSON массив объектов:

			:images='[
				{
					"thumb": "", // URL для превью
					"src": "",	// URL полноразмерного изображения
					"caption": "" // Описание, простой текст или HTML
				},
				...
			]'
		app-gallery(
			:images!=[
				{
					thumb: 'https://media.architecturaldigest.com/photos/58f918044f42bd463db36a3f/16:9/w_1280,c_limit/1%2520-%252010%2520Greenest%2520Cities%2520in%2520America%2520in%25202017.jpg',
					src: 'https://media.architecturaldigest.com/photos/58f918044f42bd463db36a3f/16:9/w_1280,c_limit/1%2520-%252010%2520Greenest%2520Cities%2520in%2520America%2520in%25202017.jpg',
					caption: 'Caption for image 1'
				},
				{
					thumb: 'https://icdn3.digitaltrends.com/image/what-is-a-smart-city-series-introduction.jpg',
					src: 'https://icdn3.digitaltrends.com/image/what-is-a-smart-city-series-introduction.jpg',
					caption: `
						<p>На собственном участке обязательно стоит выделить место под уютную <a href="" > баньку или сауну</a>.</p>
						<p>Это место отдыха и встреч с друзьями, дружных посиделок и лечебных процедур.</p>
						<p>Для эксплуатации бани главным требованием будет сохранение тепла и пара внутри помещения, беспроблемное использование в условиях повышенной влажности. Важно предусмотреть хорошую гидроизоляцию, что предупредит преждевременный износ здания.</p>
					`
				},
				{
					thumb: 'https://upload.wikimedia.org/wikipedia/commons/c/ce/City-of-the-future.jpg',
					src: 'https://upload.wikimedia.org/wikipedia/commons/c/ce/City-of-the-future.jpg',
					caption: ''
				},
				{
					thumb: 'http://www.totalpower.ca/wp-content/uploads/2015/08/toronto-skyline.jpg',
					src: 'http://www.totalpower.ca/wp-content/uploads/2015/08/toronto-skyline.jpg',
					caption: 'Caption for image 4'
				},
				{
					thumb: 'https://cracowcitytours.com/media/photos/156036358/slide04-1.jpg',
					src: 'https://cracowcitytours.com/media/photos/156036358/slide04-1.jpg',
					caption: 'Caption for image 5'
				},
			]
		)&attributes(attributes)

	template
		// app-article
		article.app-article(
			itemscope
			itemtype="https://schema.org/Article"
		)&attributes(attributes)
			header.header
				.header-grid
					.header-grid-cell
						.header-title-box(
							:key="headerTitleHasBg"
							:class="{'header-title-box-has-bg': headerTitleHasBg}"
							:style="{backgroundImage: headerTitleHasBg ? 'url(upload/article-bg.jpg)' : ''}"
						)
							h1.header-title(
								is="base-title"
								tag="h1"
								itemprop="headline"
							) Вы думаете они будут ждать, пока ваш сайт загрузится?

					.header-grid-cell
						time.header-date(
							is="base-time"
							datetime="2019-06-09T12:51:44Z"
							itemprop="datePublished"
						)

					.header-grid-cell
						app-share.header-share(invert)

			.main
				div(itemprop="articleBody")
					base-content.content
						p
							a(
								href=""
								@click.prevent="headerTitleHasBg = !headerTitleHasBg"
							) Toggle Header Background

						p На собственном участке обязательно стоит выделить место под уютную #[a(href="") баньку или сауну]. Это место отдыха и встреч с друзьями, дружных посиделок и лечебных процедур. При обустройстве особое внимание уделяется отделке бани внутри.

						h2 Заголовок пример h2

						p Для эксплуатации бани #[em главным требованием] будет сохранение #[strong тепла и пара] внутри помещения, беспроблемное использование в условиях повышенной влажности. Важно предусмотреть хорошую гидроизоляцию, что предупредит преждевременный износ здания.

						p Для эксплуатации бани главным требованием будет сохранение тепла и пара внутри помещения, беспроблемное использование в условиях повышенной влажности. Важно предусмотреть хорошую гидроизоляцию, что предупредит преждевременный износ здания.

						h3 Заголовок пример h3

						p.
							На собственном участке обязательно стоит выделить место под уютную баньку или сауну.
							Это место отдыха и встреч с друзьями, дружных посиделок и лечебных процедур.
							При обустройстве особое внимание уделяется отделке бани внутри.

						.clearfix
							img.float-left(
								src="upload/pic-1.jpg"
								alt=""
								width="440"
								data-gallery="gallery"
								data-thumb="upload/pic-1.jpg"
								data-caption="Caption for foo"
							)

							p.
								Для эксплуатации бани главным требованием будет сохранение тепла и пара внутри помещения,
								беспроблемное использование в условиях повышенной влажности. Важно предусмотреть хорошую
								гидроизоляцию, что предупредит преждевременный износ здания.

						.clearfix
							+app-gallery().gallery.float-right(style={width: '440px'})

							p.
								Для эксплуатации бани главным требованием будет сохранение тепла и пара внутри помещения,
								беспроблемное использование в условиях повышенной влажности. Важно предусмотреть хорошую
								гидроизоляцию, что предупредит преждевременный износ здания.

							p.
								Для эксплуатации бани главным требованием будет сохранение тепла и пара внутри помещения,
								беспроблемное использование в условиях повышенной влажности. Важно предусмотреть хорошую
								гидроизоляцию, что предупредит преждевременный износ здания.
								На собственном участке обязательно стоит выделить место под уютную баньку или сауну.
								Это место отдыха и встреч с друзьями, дружных посиделок и лечебных процедур.
								При обустройстве особое внимание уделяется отделке бани внутри.

						.clearfix
							img.float-left(
								src="upload/pic-2.jpg"
								alt=""
								width="440"
								data-gallery="gallery"
							)

							p.
								Для эксплуатации бани главным требованием будет сохранение тепла и пара внутри помещения,
								беспроблемное использование в условиях повышенной влажности. Важно предусмотреть хорошую
								гидроизоляцию, что предупредит преждевременный износ здания.

						p.
							На собственном участке обязательно стоит выделить место под уютную баньку или сауну.
							Это место отдыха и встреч с друзьями, дружных посиделок и лечебных процедур.
							При обустройстве особое внимание уделяется отделке бани внутри.

						blockquote
							p.
								Стараются вникнуть в суть вопроса и предвосхитить возможные потребности, в нашем случае
								сделали дополнительный функционал до того как я осознала, что он нужен, за символическую
								плату. Видно, что ребята стараются. Стараются сделать "как для себя", а это очень важно
								и ценно. У нас еще много нереализованных задумок и я очень надеюсь на долгосрочное
								и плодотворное сотрудничество с Zingy Projects! Спасибо!

							cite
								strong Людмила Соколова
								br
								em Генеральный директор Salon Global Brand

						h3 Ordered list:

						ol
							li При обустройстве особое внимание уделяется отделке;
							li При обустройстве особое внимание уделяется отделке;

							li
								| При обустройстве особое внимание уделяется отделке;

								ul
									li При обустройстве особое внимание уделяется отделке;
									li При обустройстве особое внимание уделяется отделке;

							li
								| При обустройстве особое внимание уделяется отделке;

								ol
									li При обустройстве особое внимание уделяется отделке;
									li При обустройстве особое внимание уделяется отделке;

							li.
								При обустройстве особое внимание уделяется отделке,
								вторая строчка обустройстве вторая строчка,
								вторая строчка обустройстве вторая строчка.

						h3 Unordered list:

						ul
							li При обустройстве особое внимание уделяется отделке;
							li При обустройстве особое внимание уделяется отделке;

							li
								| При обустройстве особое внимание уделяется отделке;

								ol
									li При обустройстве особое внимание уделяется отделке;
									li При обустройстве особое внимание уделяется отделке;

							li.
								При обустройстве особое внимание уделяется отделке,
								вторая строчка обустройстве вторая строчка,
								вторая строчка обустройстве вторая строчка.

							li При обустройстве особое внимание уделяется отделке, вторая строчка обустройстве вторая строчка.

						h4 Заголовок h4

						p На собственном участке обязательно стоит выделить место под уютную баньку или сауну. Это место отдыха и встреч с друзьями, дружных посиделок и лечебных процедур.

						h5 Заголовок h5

						p На собственном участке обязательно стоит выделить место под уютную баньку или сауну. Это место отдыха и встреч с друзьями, дружных посиделок и лечебных процедур.

						h6 Заголовок h6

						p На собственном участке обязательно стоит выделить место под уютную баньку или сауну. Это место отдыха и встреч с друзьями, дружных посиделок и лечебных процедур.

				+app-gallery().gallery

			footer.footer
				.footer-grid
					.footer-grid-cell
						app-share.footer-share

					.footer-grid-cell
						like-button.footer-like-button 157

			// hidden microdata
			meta(
				itemprop="author"
				content="Zingy Projects"
			)

			span(
				itemprop="image"
				itemscope
				itemtype="https://schema.org/ImageObject"
			)
				link(
					itemprop="url contentUrl"
					href="upload/article-bg.jpg"
				)

			span(
				itemprop="publisher"
				itemscope
				itemtype="https://schema.org/Organization"
			)
				span(
					itemprop="logo"
					itemscope
					itemtype="https://schema.org/ImageObject"
				)
					link(
						itemprop="url contentUrl"
						href="upload/zingy-256x256.png"
					)

				meta(
					itemprop="name"
					content="Zingy Projects"
				)

				meta(
					itemprop="address"
					content="ул. Улофа Пальме, 3, Москва, Московская область, Россия, 119590"
				)

				meta(
					itemprop="telephone"
					content="+79854575817"
				)

			time(
				datetime="2019-06-09T12:51:44Z"
				itemprop="dateModified"
			)

			link(
				itemprop="mainEntityOfPage"
				href="article.html"
			)

		// /app-article
