mixin AppArticle()
	template
		article.app-article&attributes(attributes)
			header.header
				h1.title(
					is="base-title"
					tag="h1"
				) Вы думаете они будут ждать, пока ваш сайт загрузится?

			.main
				base-content.content
					p На собственном участке обязательно стоит выделить место под уютную баньку или сауну. Это место отдыха и встреч с друзьями, дружных посиделок и лечебных процедур. При обустройстве особое внимание уделяется отделке бани внутри.

					h2 Заголовок пример h2

					p Для эксплуатации бани главным требованием будет сохранение тепла и пара внутри помещения, беспроблемное использование в условиях повышенной влажности. Важно предусмотреть хорошую гидроизоляцию, что предупредит преждевременный износ здания.

					p Для эксплуатации бани главным требованием будет сохранение тепла и пара внутри помещения, беспроблемное использование в условиях повышенной влажности. Важно предусмотреть хорошую гидроизоляцию, что предупредит преждевременный износ здания.

					h3 Заголовок пример h3

					p.
						На собственном участке обязательно стоит выделить место под уютную баньку или сауну.
						Это место отдыха и встреч с друзьями, дружных посиделок и лечебных процедур.
						При обустройстве особое внимание уделяется отделке бани внутри.

					.clearfix
						img.float-left(
							src="upload/pic-1.jpg"
							alt=""
							width="440"
						)

						p.
							Для эксплуатации бани главным требованием будет сохранение тепла и пара внутри помещения,
							беспроблемное использование в условиях повышенной влажности. Важно предусмотреть хорошую
							гидроизоляцию, что предупредит преждевременный износ здания.

					.clearfix
						img.float-right(
							src="upload/pic-2.jpg"
							alt=""
							width="440"
						)

						p.
							Для эксплуатации бани главным требованием будет сохранение тепла и пара внутри помещения,
							беспроблемное использование в условиях повышенной влажности. Важно предусмотреть хорошую
							гидроизоляцию, что предупредит преждевременный износ здания.

						p.
							Для эксплуатации бани главным требованием будет сохранение тепла и пара внутри помещения,
							беспроблемное использование в условиях повышенной влажности. Важно предусмотреть хорошую
							гидроизоляцию, что предупредит преждевременный износ здания.

					.clearfix
						img.float-left(
							src="upload/pic-1.jpg"
							alt=""
							width="440"
						)

						p.
							Для эксплуатации бани главным требованием будет сохранение тепла и пара внутри помещения,
							беспроблемное использование в условиях повышенной влажности. Важно предусмотреть хорошую
							гидроизоляцию, что предупредит преждевременный износ здания.

					p.
						На собственном участке обязательно стоит выделить место под уютную баньку или сауну.
						Это место отдыха и встреч с друзьями, дружных посиделок и лечебных процедур.
						При обустройстве особое внимание уделяется отделке бани внутри.

			footer.footer
