mixin AppArticle(template = 0)
	mixin swiper-gallery()
		//
			`swiper-gallery` data format

			JSON массив объектов:

			:images='[
				{
					"thumb": "", // URL эскиза
					"src": "",	// URL полноразмерного изображения
					"srcset": "",
					"sizes": "",
					"caption": "" // Описание, простой текст или HTML
				},
				...
			]'
		swiper-gallery(
			:images!=[
				{
					thumb: 'upload/gallery/thumbs/image-1.jpg',
					src: 'upload/gallery/image-1.jpg',
					caption: 'Caption for Image 1'
				},
				{
					thumb: 'upload/gallery/thumbs/image-2.jpg',
					src: 'upload/gallery/image-2.jpg',
					caption: `
						<p>На собственном участке обязательно стоит выделить место под уютную <a href=""> баньку или сауну</a>.</p>
						<p>Это место отдыха и встреч с друзьями, дружных посиделок и лечебных процедур.</p>
						<p>Для эксплуатации бани главным требованием будет сохранение тепла и пара внутри помещения, беспроблемное использование в условиях повышенной влажности. Важно предусмотреть хорошую гидроизоляцию, что предупредит преждевременный износ здания.</p>
					`
				},
				{
					thumb: '',
					src: 'upload/gallery/image-3.jpg',
					caption: ''
				},
				{
					thumb: 'upload/gallery/thumbs/image-4.jpg',
					src: 'upload/gallery/image-4.jpg',
					caption: 'Caption for Image 4'
				},
				{
					thumb: 'upload/gallery/thumbs/image-5.jpg',
					src: 'upload/gallery/image-5.jpg',
					caption: 'Caption for Image 5'
				},
				{
					thumb: 'upload/gallery/thumbs/image-6.jpg',
					src: 'upload/gallery/image-6.jpg',
					caption: 'Caption for Image 6'
				},
			]
		)&attributes(attributes)

	template
		// app-article
		article.app-article(
			itemscope
			itemtype="https://schema.org/Article"
		)&attributes(attributes)
			header.header
				.header-grid
					.header-grid-cell
						.header-title-box(
							:key="headerTitleHasBg"
							:class="{'header-title-box-has-bg': headerTitleHasBg}"
							:style="{backgroundImage: headerTitleHasBg ? 'url(upload/article-bg.jpg)' : ''}"
						)
							h1.header-title(
								is="base-title"
								tag="h1"
								itemprop="headline"
							)
								if template === 0
									| Вы думаете они будут ждать, пока ваш сайт загрузится?
								else
									| Аудит сайта

					.header-grid-cell
						time.header-date(
							is="base-time"
							datetime="2019-06-09T12:51:44Z"
							itemprop="datePublished"
						)

					.header-grid-cell
						if template === 0
							app-share.header-share(
								invert
								page-url="article.html"
								page-title="Вы думаете они будут ждать, пока ваш сайт загрузится?"
								page-description="Вы думаете они будут ждать, пока ваш сайт загрузится?"
							)
						else
							app-share.header-share(
								invert
								page-url="audit-sajta.html"
								page-title="Аудит сайта"
								page-description="Аудит сайта"
							)

			.main
				div(itemprop="articleBody")
					base-content.content
						p
							a(
								href=""
								@click.prevent="headerTitleHasBg = !headerTitleHasBg"
							) Toggle Header Background

						p На собственном участке обязательно стоит выделить место под уютную #[a(href="") баньку или сауну]. Это место отдыха и встреч с друзьями, дружных посиделок и лечебных процедур. При обустройстве особое внимание уделяется отделке бани внутри.

						h2 Заголовок пример H2

						p Для эксплуатации бани #[em главным требованием] будет сохранение #[strong тепла и пара] внутри помещения, беспроблемное использование в условиях повышенной влажности. Важно предусмотреть хорошую гидроизоляцию, что предупредит преждевременный износ здания.

						p Для эксплуатации бани главным требованием будет сохранение тепла и пара внутри помещения, беспроблемное использование в условиях повышенной влажности. Важно предусмотреть хорошую гидроизоляцию, что предупредит преждевременный износ здания.

						p(style={textAlign: 'center'})
							img(
								src="upload/gallery/image-1.jpg"
								alt=""
								title="Simple Image"
								width="500"
							)

						p Для эксплуатации бани главным требованием будет сохранение тепла и пара внутри помещения, беспроблемное использование в условиях повышенной влажности. Важно предусмотреть хорошую гидроизоляцию, что предупредит преждевременный износ здания.

						img.base-content-image(
							is="base-image"
							:width-ratio="16"
							:height-ratio="9"
							:width="400"
							src="upload/gallery/thumbs/image-2.jpg"
							alt=""
							title="Responsive Lazy Image"
						)

						p Для эксплуатации бани главным требованием будет сохранение тепла и пара внутри помещения, беспроблемное использование в условиях повышенной влажности. Важно предусмотреть хорошую гидроизоляцию, что предупредит преждевременный износ здания.

						figure.base-content-figure(
							is="base-figure"
							style={width: '400px'}
						)
							a.image-box(
								data-gallery="custom-gallery"
								href="upload/gallery/image-6.jpg"
							)
								img.base-figure-image(
									is="base-image"
									:width-ratio="4"
									:height-ratio="3"
									src="upload/gallery/thumbs/image-6.jpg"
									alt=""
									title="Figure Image With Title Caption"
								)

						h3 Заголовок пример H3

						p.
							На собственном участке обязательно стоит выделить место под уютную баньку или сауну.
							Это место отдыха и встреч с друзьями, дружных посиделок и лечебных процедур.
							При обустройстве особое внимание уделяется отделке бани внутри.

						.clearfix
							figure.base-content-figure.left(
								is="base-figure"
								style={width: '400px'}
							)
								a.image-box(
									data-gallery="custom-gallery"
									href="upload/gallery/image-4.jpg"
								)
									img.base-figure-image(
										is="base-image"
										:width-ratio="4"
										:height-ratio="3"
										src="upload/gallery/thumbs/image-4.jpg"
										alt=""
										title="Figure Image With Tag Caption"
									)

								figcaption.caption Caption for Figure Image

							p.
								Для эксплуатации бани главным требованием будет сохранение тепла и пара внутри помещения,
								беспроблемное использование в условиях повышенной влажности. Важно предусмотреть хорошую
								гидроизоляцию, что предупредит преждевременный износ здания.

						.clearfix
							+swiper-gallery().base-content-gallery.right(style={width: '400px'})

							p.
								Для эксплуатации бани главным требованием будет сохранение тепла и пара внутри помещения,
								беспроблемное использование в условиях повышенной влажности. Важно предусмотреть хорошую
								гидроизоляцию, что предупредит преждевременный износ здания.

							p.
								Для эксплуатации бани главным требованием будет сохранение тепла и пара внутри помещения,
								беспроблемное использование в условиях повышенной влажности. Важно предусмотреть хорошую
								гидроизоляцию, что предупредит преждевременный износ здания.
								На собственном участке обязательно стоит выделить место под уютную баньку или сауну.
								Это место отдыха и встреч с друзьями, дружных посиделок и лечебных процедур.
								При обустройстве особое внимание уделяется отделке бани внутри.

						p.
							Для эксплуатации бани главным требованием будет сохранение тепла и пара внутри помещения,
							беспроблемное использование в условиях повышенной влажности. Важно предусмотреть хорошую
							гидроизоляцию, что предупредит преждевременный износ здания.

						p.
							На собственном участке обязательно стоит выделить место под уютную баньку или сауну.
							Это место отдыха и встреч с друзьями, дружных посиделок и лечебных процедур.
							При обустройстве особое внимание уделяется отделке бани внутри.

						blockquote
							p.
								Стараются вникнуть в суть вопроса и предвосхитить возможные потребности, в нашем случае
								сделали дополнительный функционал до того как я осознала, что он нужен, за символическую
								плату. Видно, что ребята стараются. Стараются сделать "как для себя", а это очень важно
								и ценно. У нас еще много нереализованных задумок и я очень надеюсь на долгосрочное
								и плодотворное сотрудничество с Zingy Projects! Спасибо!

							cite
								strong Людмила Соколова
								br
								em Генеральный директор Salon Global Brand

						h3 Ordered List:

						ol
							li При обустройстве особое внимание уделяется отделке;
							li При обустройстве особое внимание уделяется отделке;

							li
								| При обустройстве особое внимание уделяется отделке;

								ul
									li При обустройстве особое внимание уделяется отделке;
									li При обустройстве особое внимание уделяется отделке;

							li
								| При обустройстве особое внимание уделяется отделке;

								ol
									li При обустройстве особое внимание уделяется отделке;
									li При обустройстве особое внимание уделяется отделке;

							li.
								При обустройстве особое внимание уделяется отделке,
								вторая строчка обустройстве вторая строчка,
								вторая строчка обустройстве вторая строчка.

						h3 Unordered List:

						ul
							li При обустройстве особое внимание уделяется отделке;
							li При обустройстве особое внимание уделяется отделке;

							li
								| При обустройстве особое внимание уделяется отделке;

								ul
									li При обустройстве особое внимание уделяется отделке;
									li При обустройстве особое внимание уделяется отделке;

							li
								| При обустройстве особое внимание уделяется отделке;

								ol
									li При обустройстве особое внимание уделяется отделке;
									li При обустройстве особое внимание уделяется отделке;

							li При обустройстве особое внимание уделяется отделке, вторая строчка обустройстве вторая строчка.

						h4 Заголовок H4

						p На собственном участке обязательно стоит выделить место под уютную баньку или сауну. Это место отдыха и встреч с друзьями, дружных посиделок и лечебных процедур.

						h5 Заголовок H5

						p На собственном участке обязательно стоит выделить место под уютную баньку или сауну. Это место отдыха и встреч с друзьями, дружных посиделок и лечебных процедур.

						h6 Заголовок H6

						p На собственном участке обязательно стоит выделить место под уютную баньку или сауну. Это место отдыха и встреч с друзьями, дружных посиделок и лечебных процедур.

					// Custom blocks
					section.app-article-section(is="page-section")
						template(slot="factors-list")
							figure
								template(slot="title")
									p Только белые методы продвижения

								template(slot="description")
									p Вы можете не переживать, что вас забанят, наложат фильтр поисковая система.

							figure
								template(slot="title")
									p Результаты SEO сохраняются надолго

								template(slot="description")
									p В сравнении с контекстной рекламой уже достигнутый результат продвижения сохранится надолго

							figure
								template(slot="title")
									p Первые результаты уже через 2 месяца

								template(slot="description")
									p При условии своевременного выполнения тех. заданий и внедрений изменений на сайт.

							figure
								template(slot="title")
									p Повышаем конверсию и улучшаем юзабилити

								template(slot="description")
									p Вы можете не переживать, что вас забанят, наложат фильтр поисковая система.

							figure
								template(slot="title")
									p Прозрачность продвижения

								template(slot="description")
									p В сравнении с контекстной рекламой уже достигнутый результат продвижения сохранится надолго

							figure
								template(slot="title")
									p Индивидуальный подход

								template(slot="description")
									p При условии своевременного выполнения тех. заданий и внедрений изменений на сайт.

					base-content.content
						h2 Заголовок пример H2

						p Для эксплуатации бани #[em главным требованием] будет сохранение #[strong тепла и пара] внутри помещения, беспроблемное использование в условиях повышенной влажности. Важно предусмотреть хорошую гидроизоляцию, что предупредит преждевременный износ здания.

						p Для эксплуатации бани главным требованием будет сохранение тепла и пара внутри помещения, беспроблемное использование в условиях повышенной влажности. Важно предусмотреть хорошую гидроизоляцию, что предупредит преждевременный износ здания.

					section.page-section-of-ul.app-article-section(is="page-section")
						template(slot="title")
							h2 Что мы делаем для эффективного продвижения:

						template(slot="ul")
							ul
								li SEO-аудит
								li Анализ ниши и конкурентов
								li Юзабилити анализ
								li Составление списков рекомендаций по страницам сайта

								li Юзабилити анализ
								li SEO-аудит
								li Анализ ниши и конкурентов
								li Составление списков рекомендаций по страницам сайта

								li Составление списков рекомендаций по страницам сайта
								li Анализ ниши и конкурентов
								li Юзабилити анализ
								li SEO-аудит

								li SEO-аудит
								li Анализ ниши и конкурентов
								li Юзабилити анализ

					section.app-article-section(is="page-section")
						template(slot="title")
							h2 Технологии

						template(slot="figures")
							figure
								template(slot="image")
									img(
										src="upload/business.svg"
										alt=""
									)

								template(slot="title")
									p Семантика

								template(slot="description")
									p При условии своевременного выполнения тех. заданий и внедрений изменений на сайт.

							figure
								template(slot="image")
									img(
										src="upload/business.svg"
										alt=""
									)

								template(slot="title")
									p Поведенческие факторы

								template(slot="description")
									p Работаем над юзабилити, чтобы сайт был удобнее для людей.

							figure
								template(slot="image")
									img(
										src="upload/business.svg"
										alt=""
									)

								template(slot="title")
									p Поведенческие факторы

								template(slot="description")
									p Работаем над юзабилити, чтобы сайт был удобнее для людей.

							figure
								template(slot="image")
									img(
										src="upload/business.svg"
										alt=""
									)

								template(slot="title")
									p Семантика

								template(slot="description")
									p При условии своевременного выполнения тех. заданий и внедрений изменений на сайт.

							figure
								template(slot="image")
									img(
										src="upload/business.svg"
										alt=""
									)

								template(slot="title")
									p Семантика

								template(slot="description")
									p При условии своевременного выполнения тех. заданий и внедрений изменений на сайт.

							figure
								template(slot="image")
									img(
										src="upload/business.svg"
										alt=""
									)

								template(slot="title")
									p Поведенческие факторы

								template(slot="description")
									p Работаем над юзабилити, чтобы сайт был удобнее для людей.

							figure
								template(slot="image")
									img(
										src="upload/business.svg"
										alt=""
									)

								template(slot="title")
									p Поведенческие факторы

								template(slot="description")
									p Работаем над юзабилити, чтобы сайт был удобнее для людей.

							figure
								template(slot="image")
									img(
										src="upload/business.svg"
										alt=""
									)

								template(slot="title")
									p Семантика

								template(slot="description")
									p При условии своевременного выполнения тех. заданий и внедрений изменений на сайт.

							figure
								template(slot="image")
									img(
										src="upload/business.svg"
										alt=""
									)

								template(slot="title")
									p Семантика

								template(slot="description")
									p При условии своевременного выполнения тех. заданий и внедрений изменений на сайт.

							figure
								template(slot="image")
									img(
										src="upload/business.svg"
										alt=""
									)

								template(slot="title")
									p Поведенческие факторы

								template(slot="description")
									p Работаем над юзабилити, чтобы сайт был удобнее для людей.

					section.app-article-section(is="page-section")
						template(slot="title")
							h2 Вы спрашиваете, мы отвечаем

						template(slot="faq")
							figure
								template(slot="title")
									p Что такое SEO и зачем оно нужно?

								template(slot="content")
									p Менеджер проекта — это специалист, отвечающий за успешное выполнение проекта: в указанные заказчиком сроки, с необходимым качеством, при фиксированном бюджете, ограниченных человеческих ресурсах и в соответствии с требованиями со стороны заказчика.

									p Зачастую это #[a(href="") административный руководитель] функциональной проектной группы, который обеспечивает оперативное руководство и контролирует осуществление работ, проводимых в рамках проекта. В условиях постоянного усиления конкуренции особенно актуальными становятся готовность компании к непредвиденным поворотам событий и способность грамотных менеджеров предугадывать, планировать и управлять изменениями. В бизнесе работа по проекту является своего рода искусством и требует умений, времени и сил.

							figure
								template(slot="title")
									p Входит ли в редизайн фирменного стиля переработка логотипа?

								template(slot="content")
									p Менеджер проекта — это специалист, отвечающий за успешное выполнение проекта: в указанные заказчиком сроки, с необходимым качеством, при фиксированном бюджете, ограниченных человеческих ресурсах и в соответствии с требованиями со стороны заказчика.

									p Зачастую это административный руководитель функциональной проектной группы, который обеспечивает оперативное руководство и контролирует осуществление работ, проводимых в рамках проекта. В условиях постоянного усиления конкуренции особенно актуальными становятся готовность компании к непредвиденным поворотам событий и способность грамотных менеджеров предугадывать, планировать и управлять изменениями. В бизнесе работа по проекту является своего рода искусством и требует умений, времени и сил.

							figure
								template(slot="title")
									p Входит ли в редизайн фирменного стиля переработка логотипа и брендбука?

								template(slot="content")
									p Менеджер проекта — это специалист, отвечающий за успешное выполнение проекта: в указанные заказчиком сроки, с необходимым качеством, при фиксированном бюджете, ограниченных человеческих ресурсах и в соответствии с требованиями со стороны заказчика.

									p Зачастую это административный руководитель функциональной проектной группы, который обеспечивает оперативное руководство и контролирует осуществление работ, проводимых в рамках проекта. В условиях постоянного усиления конкуренции особенно актуальными становятся готовность компании к непредвиденным поворотам событий и способность грамотных менеджеров предугадывать, планировать и управлять изменениями. В бизнесе работа по проекту является своего рода искусством и требует умений, времени и сил.

					order-section.app-article-order-section
						template(slot="image")
							img(
								src="upload/bank.jpg"
								alt=""
								bg-color="#8e1219"
							)

						template(slot="title")
							p Мы не берем денег за рассказы банальных вещей о ваших внутренних проблемах.

						template(slot="content")
							p Вместо этого предлагаем решения, при этом готовы сами их реализовать и нести ответственность за результат.

						template(slot="button")
							a(href="article.html#feedback-section") Заказать

					if template === 0
						+swiper-gallery().app-article-gallery

			footer.footer
				.footer-grid
					.footer-grid-cell
						if template === 0
							app-share.footer-share(
								page-url="article.html"
								page-title="Вы думаете они будут ждать, пока ваш сайт загрузится?"
								page-description="Вы думаете они будут ждать, пока ваш сайт загрузится?"
							)
						else
							app-share.footer-share(
								page-url="audit-sajta.html"
								page-title="Аудит сайта"
								page-description="Аудит сайта"
							)

					if template === 0
						.footer-grid-cell
							a.footer-navigation-link(
								is="navigation-link"
								href="article.html"
								direction="next"
							) На собственном участке обязательно стоит выделить место под уютную баньку или сауну. Это место отдыха и встреч с друзьями, дружных посиделок и лечебных процедур

			// hidden microdata
			meta(
				itemprop="author"
				content="Zingy Projects"
			)

			span(
				itemprop="image"
				itemscope
				itemtype="https://schema.org/ImageObject"
			)
				link(
					itemprop="url contentUrl"
					href="upload/article-bg.jpg"
				)

			span(
				itemprop="publisher"
				itemscope
				itemtype="https://schema.org/Organization"
			)
				span(
					itemprop="logo"
					itemscope
					itemtype="https://schema.org/ImageObject"
				)
					link(
						itemprop="url contentUrl"
						href="upload/zingy-256x256.png"
					)

				meta(
					itemprop="name"
					content="Zingy Projects"
				)

				meta(
					itemprop="address"
					content="ул. Улофа Пальме, 3, Москва, Московская область, Россия, 119590"
				)

				meta(
					itemprop="telephone"
					content="+79854575817"
				)

			time(
				datetime="2019-06-09T12:51:44Z"
				itemprop="dateModified"
			)

			//-
				link(
					itemprop="mainEntityOfPage"
					href="article.html"
				)

		// /app-article
