mixin AppArticle()
	template
		article.app-article&attributes(attributes)
			header.header
				h1.title(
					is="base-title"
					tag="h1"
				) Вы думаете они будут ждать, пока ваш сайт загрузится?

			.main
				base-content.content
					p На собственном участке обязательно стоит выделить место под уютную #[a(href="") баньку или сауну]. Это место отдыха и встреч с друзьями, дружных посиделок и лечебных процедур. При обустройстве особое внимание уделяется отделке бани внутри.

					h2 Заголовок пример h2

					p Для эксплуатации бани #[em главным требованием] будет сохранение #[strong тепла и пара] внутри помещения, беспроблемное использование в условиях повышенной влажности. Важно предусмотреть хорошую гидроизоляцию, что предупредит преждевременный износ здания.

					p Для эксплуатации бани главным требованием будет сохранение тепла и пара внутри помещения, беспроблемное использование в условиях повышенной влажности. Важно предусмотреть хорошую гидроизоляцию, что предупредит преждевременный износ здания.

					h3 Заголовок пример h3

					p.
						На собственном участке обязательно стоит выделить место под уютную баньку или сауну.
						Это место отдыха и встреч с друзьями, дружных посиделок и лечебных процедур.
						При обустройстве особое внимание уделяется отделке бани внутри.

					.clearfix
						img.float-left(
							src="upload/pic-1.jpg"
							alt=""
							width="440"
						)

						p.
							Для эксплуатации бани главным требованием будет сохранение тепла и пара внутри помещения,
							беспроблемное использование в условиях повышенной влажности. Важно предусмотреть хорошую
							гидроизоляцию, что предупредит преждевременный износ здания.

					.clearfix
						img.float-right(
							src="upload/pic-2.jpg"
							alt=""
							width="440"
						)

						p.
							Для эксплуатации бани главным требованием будет сохранение тепла и пара внутри помещения,
							беспроблемное использование в условиях повышенной влажности. Важно предусмотреть хорошую
							гидроизоляцию, что предупредит преждевременный износ здания.

						p.
							Для эксплуатации бани главным требованием будет сохранение тепла и пара внутри помещения,
							беспроблемное использование в условиях повышенной влажности. Важно предусмотреть хорошую
							гидроизоляцию, что предупредит преждевременный износ здания.

					.clearfix
						img.float-left(
							src="upload/pic-1.jpg"
							alt=""
							width="440"
						)

						p.
							Для эксплуатации бани главным требованием будет сохранение тепла и пара внутри помещения,
							беспроблемное использование в условиях повышенной влажности. Важно предусмотреть хорошую
							гидроизоляцию, что предупредит преждевременный износ здания.

					p.
						На собственном участке обязательно стоит выделить место под уютную баньку или сауну.
						Это место отдыха и встреч с друзьями, дружных посиделок и лечебных процедур.
						При обустройстве особое внимание уделяется отделке бани внутри.

					blockquote
						p.
							Стараются вникнуть в суть вопроса и предвосхитить возможные потребности, в нашем случае
							сделали дополнительный функционал до того как я осознала, что он нужен, за символическую
							плату. Видно, что ребята стараются. Стараются сделать "как для себя", а это очень важно
							и ценно. У нас еще много нереализованных задумок и я очень надеюсь на долгосрочное
							и плодотворное сотрудничество с Zingy Projects! Спасибо!

						cite
							strong Людмила Соколова
							br
							em Генеральный директор Salon Global Brand

					h3 Ordered list:

					ol
						li При обустройстве особое внимание уделяется отделке;
						li При обустройстве особое внимание уделяется отделке;
						li
							| При обустройстве особое внимание уделяется отделке;

							ul
								li При обустройстве особое внимание уделяется отделке;
								li При обустройстве особое внимание уделяется отделке;

						li При обустройстве особое внимание уделяется отделке;

						li.
							При обустройстве особое внимание уделяется отделке,
							вторая строчка обустройстве вторая строчка,
							вторая строчка обустройстве вторая строчка.

					h3 Unordered list:

					ul
						li При обустройстве особое внимание уделяется отделке;
						li При обустройстве особое внимание уделяется отделке;
						li
							| При обустройстве особое внимание уделяется отделке;

							ol
								li При обустройстве особое внимание уделяется отделке;
								li При обустройстве особое внимание уделяется отделке;

						li.
							При обустройстве особое внимание уделяется отделке,
							вторая строчка обустройстве вторая строчка,
							вторая строчка обустройстве вторая строчка.

						li При обустройстве особое внимание уделяется отделке, вторая строчка обустройстве вторая строчка.

					h4 Заголовок h4

					p На собственном участке обязательно стоит выделить место под уютную баньку или сауну. Это место отдыха и встреч с друзьями, дружных посиделок и лечебных процедур.

					h5 Заголовок h5

					p На собственном участке обязательно стоит выделить место под уютную баньку или сауну. Это место отдыха и встреч с друзьями, дружных посиделок и лечебных процедур.

					h6 Заголовок h6

					p На собственном участке обязательно стоит выделить место под уютную баньку или сауну. Это место отдыха и встреч с друзьями, дружных посиделок и лечебных процедур.

			footer.footer
