mixin AppHeader()
	template
		header.app-header&attributes(attributes)
			transition-box(
				appear
				appear-active-class="v-appear-active"
				:duration="600"
				@after-appear="startAnimateIsEnd = true"
			)
				.logo-box
					a.logo(
						href="/"
						title="Zingy Projects"
					)
						base-icon.logo-icon(name="zingy")

			transition-slide-x(:duration="{enter: 500, leave: 300}")
				.nav-box(v-show="startAnimateIsEnd && !headerIsMinimized")
					app-header-nav-is-top.app-header-nav-is-top.nav

			transition-box(:duration="{enter: 550, leave: 350}")
				.menu-button-box(v-show="startAnimateIsEnd && headerIsMinimized")
					button.menu-button(
						type="button"
						@click="sidebarIsOpened = !sidebarIsOpened"
					)
						base-icon.menu-button-icon(name="menu")

			transition-slide-x(:duration="{enter: 500, leave: 300}")
				.right-panel-box(v-show="startAnimateIsEnd && !headerIsMinimized")
					.right-panel
						.right-panel-grid
							.right-panel-grid-cell
								a(href="").link
									base-icon.link-icon(name="globe")
									.link-text.is-uppercase Eng

							.right-panel-grid-cell
								a(href="tel:+79854575817").link
									base-icon.link-icon(name="phone")
									.link-text +7 985 457 58 17

							.right-panel-grid-cell
								base-button.right-panel-button(
									tag="a"
									href="#feedback-section"
								) Начать проект

			transition-box(:duration="{enter: 500, leave: 300}")
				.phone-button-box(v-show="startAnimateIsEnd && headerIsMinimized && !sidebarIsOpened")
					a.phone-button(href="tel:+79854575817")
						base-icon.phone-button-icon(name="phone")

			transition-group.sidebar-box(
				tag="div"
				:duration="{enter: 600, leave: 600}"
			)
				.sidebar-backdrop(
					v-if="sidebarIsOpened"
					@click="sidebarIsOpened = false"
					key="1"
				)

				.sidebar(
					v-if="sidebarIsOpened"
					key="2"
				)
					.sidebar-lang-box
						a(href="").link
							base-icon.link-icon(name="globe")
							.link-text.is-uppercase Eng

					.sidebar-scrollable
						app-header-nav-is-aside.app-header-nav-is-aside.sidebar-nav

						.sidebar-footer
							.sidebar-footer-grid
								.sidebar-footer-grid-cell
									base-button.is-full-width.sidebar-button(
										tag="a"
										href="#feedback-section"
										@click="sidebarIsOpened = false"
									) Начать проект

								.sidebar-footer-grid-cell
									a(href="tel:+79854575817").link
										base-icon.link-icon(name="phone")
										.link-text +7 985 457 58 17

								.sidebar-footer-grid-cell
									a(href="mailto:zingy.projects@gmail.com").link
										base-icon.link-icon(name="envelope")
										.link-text zingy.projects@gmail.com


