mixin AppPageHeader()
	template
		header.AppPageHeader&attributes(attributes)
			transition-box(
				appear
				appear-active-class="v-appear-active"
				:duration="600"
				@after-appear="startAnimateIsEnd = true"
			)
				.l-logo-box
					a.logo(
						href="/"
						title="Zingy Projects"
					)
						base-icon(icon-name="zingy")

			transition-box(
				:duration="{enter: 500, leave: 300}"
				@enter="onLNavBoxEnter"
				@after-enter="onLNavBoxAfterEnter"
				@before-leave="onLNavBoxBeforeLeave"
			)
				.l-nav-box(v-show="startAnimateIsEnd && !headerIsMinimized")
					app-page-header-nav-is-top(class="AppPageHeaderNavIsTop")

			transition-box(:duration="{enter: 550, leave: 350}")
				.l-menu-button-box(v-show="startAnimateIsEnd && headerIsMinimized")
					button.menu-button(
						type="button"
						@click="sidebarIsOpened = !sidebarIsOpened"
					)
						base-icon(
							icon-name="menu"
							:class="{'is-sidebar-opened': sidebarIsOpened}"
						)

			transition-group.sidebar(
				tag="div"
				:duration="{enter: 600, leave: 400}"
			)
				.sidebar-backdrop(
					v-if="sidebarIsOpened"
					@click="sidebarIsOpened = false"
					key="1"
				)

				.sidebar-box(
					v-if="sidebarIsOpened"
					key="2"
				)
					app-page-header-nav-is-aside(class="AppPageHeaderNavIsAside")

			transition-box(
				:duration="{enter: 500, leave: 300}"
				@enter="onLRightPanelBoxEnter"
				@after-enter="onLRightPanelBoxAfterEnter"
				@before-leave="onLRightPanelBoxBeforeLeave"
			)
				.l-right-panel-box(v-show="startAnimateIsEnd && !headerIsMinimized")
					.right-panel
						.l-right-panel-grid
							.l-right-panel-grid-item
								a(href="").choose-lang
									.choose-lang-icon
									.choose-lang-text Eng

							.l-right-panel-grid-item
								| right panel item

							.l-right-panel-grid-item
								base-button.button(
									tag="a"
									href=""
								)
									| Начать проект
