mixin AppPageHeader()
	template
		header.AppPageHeader&attributes(attributes)
			transition-box(
				appear
				appear-active-class="v-appear-active"
				:duration="600"
				@after-appear="startAnimateIsEnd = true"
			)
				.l-logo-box
					a.logo(
						href="/"
						title="Zingy Projects"
					)
						base-icon(icon-name="zingy")

			transition-box(:duration="{enter: 550, leave: 350}")
				.l-menu-button-box(
					v-show="startAnimateIsEnd && headerIsMinimized"
				)
					button.menu-button(type="button")
						base-icon(icon-name="menu")

			transition-box
				.l-nav-box
					nav.nav
						each navItem in ['Главная', 'О компании', 'Разработка', 'Продвижение', 'Блог', 'Контакты']
							a.nav-item(href="")= navItem
