include AppHeader
include AppBreadcrumb
include FeedbackSection
include AppFooter

mixin AppPage(mainBg)
	template
		.app-page&attributes(attributes)
			.body(ref="body")
				app-header.app-page-header(inline-template)
					+AppHeader()

				main.main
					if mainBg
						.bg-image(
							v-show="bgImageShown"
							:style=`{backgroundImage: 'url(' + $publicPath + '${mainBg})'}`
						)

					block

					feedback-section.app-page-feedback-section(inline-template)
						+FeedbackSection()

				app-footer.app-page-footer(inline-template)
					+AppFooter()

			zingy-section.absolute.animation-stopped.app-page-zingy-section(
				ref="zingySection"
				v-if="zingySectionShown"
				@mounted="onZingySectionMounted"
			)
				template(v-slot:before)
					p Получите SEO бесплатно назвав промокод: #[b «Апельсин»]

				template(v-slot:after)
					p #[strong ZINGY]&nbsp;— в&nbsp;переводе с&nbsp;англ. потрясающий, захватывающий

			// Modals
			app-modal(
				name="feedback"
				classes="is-small"
			)
				template(slot="title") Обратная связь

				template(slot="default")
					feedback-form.form(action=NODE_ENV === 'production' ? '/mail.php' : '/')
						template(slot="content")
							p *&nbsp;Отправляя заявку, вы соглашаетесь с <a href='' target='_blank'>условиями передачи информации</a>.
