mixin AppPageContacts()
	template
		.app-page-contacts(
			itemscope
			itemtype="http://schema.org/Organization"
		)&attributes(attributes)
			.grid
				.grid-row
					.grid-cell
						transition-fade-up(appear)
							section.section
								h2.title E-mail

								.section-grid
									.section-grid-cell
										a.link-button(href="mailto:zingy.projects@gmail.com")
											span(itemprop="email") zingy.projects@gmail.com

									.section-grid-cell
										a.link-button(href="mailto:manager.zingy.projects@gmail.com")
											span(itemprop="email") manager.zingy.projects@gmail.com

				.grid-row
					.grid-cell
						transition-fade-up(appear)
							section.section
								h2.title Телефон

								.section-grid
									.section-grid-cell
										a.link-button(href="tel:+74959110795")
											span(itemprop="telephone") +7 (495) 911-07-95

						transition-fade-up(appear)
							section.section
								.section-grid
									.section-grid-cell
										.content
											p
												span(itemprop="name") ООО «ЗИНГИ ПРОДЖЕКТС»

											p ОГРН: 1135001004621
											p ИНН: 5001094804
											p КПП: 500101001

										// Hidden structured data
										link(
											href="upload/zingy-256x256.png"
											itemprop="logo"
										)

										link(
											href="/"
											itemprop="url"
										)

					.grid-cell
						transition-fade-up(appear)
							section.section
								h2.title Адрес

								.section-grid
									.section-grid-cell
										address.content(itemprop="address").
											119590, г. Москва, ул. Улофа Пальме, д. 3<br>
											пн-пт с 10:00 до 21:00

						transition-fade-up(appear)
							section.section
								.section-grid
									.section-grid-cell
										a.link-button(
											href=""
											target="_blank"
										)
											span Реквизиты организации
