mixin AppPageHeader()
	template
		header.AppPageHeader&attributes(attributes)
			transition-box(
				appear
				appear-active-class="v-appear-active"
				:duration="600"
				@after-appear="startAnimateIsEnd = true"
			)
				.l-logo-box
					a.logo(
						href="/"
						title="Zingy Projects"
					)
						base-icon(icon-name="zingy")

			transition-box(
				:duration="{enter: 500, leave: 300}"
				@enter="enterLNavBox"
				@after-enter="afterEnterLNavBox"
				@before-leave="beforeLeaveLNavBox"
			)
				.l-nav-box(v-show="startAnimateIsEnd && !headerIsMinimized")
					app-page-header-nav-is-top(class="AppPageHeaderNavIsTop")

			transition-box(:duration="{enter: 550, leave: 350}")
				.l-menu-button-box(v-show="startAnimateIsEnd && headerIsMinimized")
					button.menu-button(
						type="button"
						@click="sidebarIsOpened = !sidebarIsOpened"
					)
						base-icon(
							icon-name="menu"
							:class="{'is-menu-opened': sidebarIsOpened}"
						)

			transition-box
				.sidebar(v-if="sidebarIsOpened")
					app-page-header-nav-is-aside(class="AppPageHeaderNavIsAside")
