mixin AwesomeList()
	-
		const items = [
			{
				title: 'Неповторимый веб-дизайн UX/UI',
				description: '<p>Мы не торопим вас с выбором веб-студии. Это очень важный выбор, потому что работать ' +
				'придется долго. Если мы до сих пор вас не убедили, то изучите наши преимущества дальше. Мы не торопим ' +
				'вас с выбором веб-студии. Это очень важный выбор, потому что работать придется долго.</p>' +

				'<p>Мы не торопим вас с выбором веб-студии. Это очень важный выбор, потому что работать ' +
				'придется долго. Если мы до сих пор вас не убедили, то изучите наши преимущества дальше. Мы не торопим ' +
				'вас с выбором веб-студии. Это очень важный выбор, потому что работать придется долго.</p>' +

				'<p>Мы не торопим вас с выбором веб-студии. Это очень важный выбор, потому что работать ' +
				'придется долго. Если мы до сих пор вас не убедили, то изучите наши преимущества дальше. Мы не торопим ' +
				'вас с выбором веб-студии. Это очень важный выбор, потому что работать придется долго.</p>'
			},
			{
				title: 'Уникальная гарантия на рынке веб-услуг',
				description: '<p>Мы не торопим вас с выбором веб-студии. Это очень важный выбор, потому что работать ' +
				'придется долго. Если мы до сих пор вас не убедили, то изучите наши преимущества дальше. Мы не торопим ' +
				'вас с выбором веб-студии.Мы не торопим вас с выбором веб-студии. Это очень важный выбор, потому что работать ' +
				'придется долго. Если мы до сих пор вас не убедили, то изучите наши преимущества дальше. Мы не торопим ' +
				'вас с выбором веб-студии.</p>'
			},
			{
				title: 'Уникальная SEO стратегия',
				description: '<p>Мы не торопим вас с выбором веб-студии. Это очень важный выбор, потому что работать ' +
				'придется долго. Если мы до сих пор вас не убедили, то изучите наши преимущества дальше. Мы не торопим ' +
				'вас с выбором веб-студии.</p>'
			},
			{
				title: 'Выезжаем к Вам в офис не только на этапе продаж',
				description: '<p>Если мы до сих пор вас не убедили, то изучите наши преимущества дальше. Мы не торопим ' +
				'вас с выбором веб-студии.</p>'
			},
			{
				title: 'Поддержка 24/7',
				description: '<p>Мы не торопим вас с выбором веб-студии. Это очень важный выбор, потому что работать ' +
				'придется долго.</p>'
			},
			{
				title: 'Клиент всегда прав',
				description: '<p>Если мы до сих пор вас не убедили, то изучите наши преимущества дальше. Мы не торопим ' +
				'вас с выбором веб-студии.</p>'
			},
			{
				title: 'Эффективная разработка',
				description: '<p>Мы не торопим вас с выбором веб-студии. Это очень важный выбор, потому что работать ' +
				'придется долго.</p>'
			}
		];

	template
		.awesome-list(
			@mouseenter="runningLineIsVisible = true"
			@mouseleave="runningLineIsVisible = false"
		)
			transition-box
				.running-line(
					v-show="runningLineIsVisible"
					:style="runningLineStyle"
				)

			each item, index in items
				article.item(
					@mouseenter="onItemMouseenter"
				)
					.item-number= '0' + (index + 1)

					.item-main
						h3.item-title= item.title

					.item-description
						.item-description-inner
							vue-truncate-collapsed(
								clamp=""
								:length="itemDescriptionLength"
								less=""
								type="html"
								text!=`${item.description}`
							)

							| &nbsp;
							a.item-read-more(
								href=""
								@click.prevent=`$modal.show('about-work-${index}')`
							) Читать&nbsp;подробнее

					app-modal(name=`about-work-${index}`)
						template(v-slot:title)
							h4= item.title

						!= item.description
