mixin BlogPosts()
	-
		const posts = [
			{
				url: 'article.html',
				date: '2019-06-02T15:13:14Z',
				title: 'Подписка на статьи ZINGY',
				desc: `<p>Как не потерять клиентов из-за долгой загрузки сайтов и тому подобное что-то рыбатекстное побольше рыбное такое чтоб было чем заполнить.
				Как не потерять клиентов из-за долгой загрузки сайтов и тому подобное что-то рыбатекстное побольше рыбное такое чтоб было чем заполнить.</p>`,
				img: 'upload/post-cover.jpg',
				color: '#ffffff',
				backgroundColor: '#1a93b1',
				isLarge: false
			},
			{
				url: 'article.html',
				date: '2019-06-02T15:13:14Z',
				title: 'Вы думаете они будут ждать, пока ваш сайт загрузится?',
				desc: `<p>Как не потерять клиентов из-за долгой загрузки сайтов и тому подобное что-то рыбатекстное побольше рыбное такое чтоб было чем заполнить.
				Как не потерять клиентов из-за долгой загрузки сайтов и тому подобное что-то рыбатекстное побольше рыбное такое чтоб было чем заполнить.</p>`,
				img: 'upload/e-market.jpg',
				color: '',
				backgroundColor: '',
				isLarge: true
			},
			{
				url: 'article.html',
				date: '2019-06-02T15:13:14Z',
				title: 'Подписка на статьи ZINGY',
				desc: `<p>Как не потерять клиентов из-за долгой загрузки сайтов и тому подобное что-то рыбатекстное побольше рыбное такое чтоб было чем заполнить.</p>`,
				img: 'upload/create-logo.jpg',
				color: '#ffffff',
				backgroundColor: '#13a696',
				isLarge: false
			},
			{
				url: 'article.html',
				date: '2019-06-02T15:13:14Z',
				title: 'Вы думаете они будут ждать, пока ваш сайт загрузится?',
				desc: `<p>Как не потерять клиентов из-за долгой загрузки сайтов и тому подобное что-то рыбатекстное побольше рыбное такое чтоб было чем заполнить.
				Как не потерять клиентов из-за долгой загрузки сайтов и тому подобное что-то рыбатекстное побольше рыбное такое чтоб было чем заполнить.</p>`,
				img: 'upload/corp-site.jpg',
				color: '#ffffff',
				backgroundColor: '#df663e',
				isLarge: false
			},
			{
				url: 'article.html',
				date: '2019-06-02T15:13:14Z',
				title: 'Подписка на статьи ZINGY PROJECTS',
				desc: `<p>Как не потерять клиентов из-за долгой загрузки сайтов и тому подобное.</p>`,
				img: 'upload/seo-kernel.jpg',
				color: '#ffffff',
				backgroundColor: '#df663e',
				isLarge: false
			},
			{
				url: 'article.html',
				date: '2019-06-01T10:54:14Z',
				title: 'Вы думаете они будут ждать, пока ваш сайт загрузится? Будет просто крутое что-то совсем. Как не потерять клиентов из-за долгой загрузки',
				desc: `<p>Как не потерять клиентов из-за долгой загрузки сайтов и тому подобное.</p>`,
				img: '',
				color: '#ffffff',
				backgroundColor: '#cc5256',
				isLarge: true
			},
			{
				url: 'article.html',
				date: '2019-06-01T10:54:14Z',
				title: 'Подписка на статьи ZINGY',
				desc: `<p>Как не потерять клиентов из-за долгой загрузки сайтов и тому подобное.</p>`,
				img: 'upload/single-page-site.jpg',
				color: '#ffffff',
				backgroundColor: 'transparent',
				isLarge: false
			},
			{
				url: 'article.html',
				date: '2019-06-01T10:54:14Z',
				title: 'Подписка на статьи ZINGY Будет просто крутое что-то совсем',
				desc: `<p>Как не потерять клиентов из-за долгой загрузки сайтов и тому подобное что-то рыбатекстное побольше рыбное такое чтоб было чем заполнить</p>`,
				img: '',
				color: '#ffffff',
				backgroundColor: 'transparent',
				isLarge: false
			},
			{
				url: 'article.html',
				date: '2019-05-29T00:09:10Z',
				title: 'Подписка на статьи ZINGY как не потерять клиентов из-за того, что 4 строка в названии заголовка',
				desc: `<p>Как не потерять клиентов из-за долгой загрузки сайтов и тому подобное что-то рыбатекстное побольше рыбное такое чтоб было чем заполнить.
				Что-то рыбатекстное побольше рыбное такое чтоб было чем заполнить</p>`,
				img: 'upload/audit.jpg',
				color: '#ffffff',
				backgroundColor: 'transparent',
				isLarge: false
			},
			{
				url: 'article.html',
				date: '2019-05-28T04:32:48Z',
				title: 'Подписка на статьи ZINGY PROJECTS',
				desc: `<p>Как не потерять клиентов из-за долгой загрузки</p>`,
				img: '',
				color: '#ffffff',
				backgroundColor: 'transparent',
				isLarge: false
			},
		];

	template
		.blog-posts(itemscope itemtype="http://schema.org/Blog")&attributes(attributes)
			meta(
				itemprop="description"
				content="Блог с полезным контентом для всех, кто интересуется IT"
			)

			.grid
				.grid-row
					each post in posts
						.grid-cell(class={'grid-cell-is-large': post.isLarge})
							article.post(
								is="posts-item"
								:post=`{
									color: '${post.color}',
									backgroundColor: '${post.backgroundColor}',
									isLarge: ${post.isLarge}
								}`
								itemprop="blogPost"
								itemscope
								itemtype="http://schema.org/BlogPosting"
							)
								img.img(
									slot="img"
									is="v-lazy-image"
									src=post.img || 'upload/zingy-256x256.png'
									alt=post.title
									class={'img-is-default': !post.img}
									itemprop="image"
								)

								time.date(
									slot="date"
									is="base-time"
									datetime=post.date
									itemprop="datePublished"
								)

								// Заголовок от 0 до 110 символов, требование google для `itemprop="headline"`
								p(
									slot="title"
									itemprop="headline"
								)=post.title.slice(0, 110)

								div(
									slot="desc"
									itemprop="description"
								)!=post.desc

								a.link(
									slot="link"
									href=post.url
									title=post.title
									itemprop="url"
								)

								// hidden microdata
								span(
									itemprop="publisher"
									itemscope
									itemtype="https://schema.org/Organization"
								)
									span(
										itemprop="logo"
										itemscope
										itemtype="https://schema.org/ImageObject"
									)
										link(
											itemprop="url contentUrl"
											href="upload/zingy-256x256.png"
										)

									meta(
										itemprop="name"
										content="Zingy Projects"
									)

									meta(
										itemprop="address"
										content="ул. Улофа Пальме, 3, Москва, Московская область, Россия, 119590"
									)

									meta(
										itemprop="telephone"
										content="+79854575817"
									)

								meta(
									itemprop="author"
									content="Zingy Projects"
								)

								link(
									itemprop="mainEntityOfPage"
									href=post.url
								)

								time(
									datetime=post.date
									itemprop="dateModified"
								)

			nav.pagination(is="app-pagination")
				a(href="") 1
				| ...
				a(href="") 3
				span 4
				a(href="") 5
				| ...
				a(href="") 25
