mixin ContentCarousel(items = [])
	template
		.ContentCarousel&attributes(attributes)
			.actions
				button.actions-button.actions-button-is-prev(
					type="button"
					@click="currentPageNumber += -1"
					:disabled="currentPageNumber === 1"
				)
					base-icon(name="arrow-right")

				.actions-counter {{ padStartNumber(currentPageNumber) }}&nbsp;/&nbsp;{{ padStartNumber(pagesCount) }}

				button.actions-button.actions-button-is-next(
					type="button"
					@click="currentPageNumber += 1"
					:disabled="currentPageNumber === pagesCount"
				)
					base-icon(name="arrow-right")

			.main
				if block
					block
				else
					vue-slick(
						ref="slick"
						:options="slickOptions"
						v-on="{init: onSlickInit, beforeChange: onSlickBeforeChange, breakpoint: onSlickBreakpoint}"
					)
						each item in items
							!= item

				button.arrow-button.arrow-button-is-prev(
					type="button"
					@click="$refs.slick.prev()"
					:disabled="currentItemIndex === 0"
				)

				button.arrow-button.arrow-button-is-next(
					type="button"
					@click="$refs.slick.next()"
					:disabled="currentPageNumber === pagesCount"
				)
