mixin DList(items = [{title: 'Title', nav: [{url: '', text: 'Link'}]}])
	.d-list(
		@mouseenter="runningLineIsVisible = true"
		@mouseleave="runningLineIsVisible = false"
	)
		ol.d-list-inner
			each item, index in items
				li.item(@mouseenter="onItemMouseenter")
					.item-number= '0' + (swiper + 1)
					.item-body
						.item-title= item.title

						if item.nav
							ul.nav
								each navItem in item.nav
									li.nav-item
										a.nav-link(
											href=navItem.url
											@click.prevent=`$modal.show('${navItem.url}')`
										)= navItem.text

										app-modal.modal(name=navItem.url)
											template(v-slot:title)
												h3= navItem.text

											base-content.modal-content!= `<p>${navItem.text}...</p>`
		transition-box
			.running-line(
				v-show="runningLineIsVisible"
				:style="runningLineStyle"
			)
