mixin FeedbackSection()
	template
		section.host.feedback-section&attributes(attributes)
			base-icon.bg-icon(icon-name="chess")

			.grid
				.grid-row
					.grid-cell
						h2.title Грамотная первая консультация #[br]—&nbsp;99%&nbsp;успеха!
						.content.content-is-description Оставьте заявку на консультацию

					.grid-cell
						form.form(
							action=""
						)
							.form-grid
								.form-grid-cell
									base-field.form-field(
										type="tel"
										placeholder="Телефон"
										required
										pattern="\\+[0-9]{10}[0-9]*"
									)

								.form-grid-cell
									base-field.form-field(
										type="url"
										placeholder="Ссылка на сайт"
									)

								.form-grid-cell
									base-button.form-button Отправить

							.content.content-is-info *&nbsp;Отправляя заявку, вы соглашаетесь с #[a(href="" target="_blank") условиями передачи информации].
