mixin IntroSection()
	section.intro-section
		.body
			transition-box(
				appear
				:duration="1000"
				@after-enter="$refs.scroll.sticky()"
			)
				.body-transition
					.body-inner
						transition-box(appear)
							h1.title Разработка и Продвижение Веб-сайтов

						transition-box(appear)
							.content
								p.
									&laquo;Работа студии построена на&nbsp;тесном взаимодействии двух кофликтующих между
									собой отделов разработки и&nbsp;продвижения, что&nbsp;позволяет сделать быстрый старт
									проекта без двойных переплат. Сейчас на&nbsp;рынке крайне мало таких предложений.
									#[br]Это новый уровень Digital.&raquo;

								.content-small
									p.
										#[strong Сергей Макоронников]
										#[br]#[em CEO Рейтинг Рунета]

								.content-credits
									.content-credit
										.content-credit-img-cell
											img.content-credit-img(
												src="upload/mincom.svg"
												alt=""
											)

										.content-credit-text-cell
											p.
												#[strong ZINGY PROJECTS]
												#[br]#[em Аккредитация IT-организации номер 8700]

									.content-credit
										.content-credit-img-cell
											img.content-credit-img(
												src="upload/award.svg"
												alt=""
											)

										.content-credit-text-cell
											p.
												#[strong ТОП 250]
												#[br]#[em Среди веб-студий Москвы по версии Рейтинга Рунета]

						transition-box(appear)
							vue-sticky(:top="false" :bottom="scrollStickyBottom" ref="scroll")
								.scroll
									.scroll-text Крутите вниз
									.scroll-line

						transition-box(appear)
							.unicorn
								.unicorn-img-box
									include ../../../src/assets/img/icons/unicorn-intro.svg
									div(:class="['unicorn-img', {'unicorn-img-is-clip': isSupportClipPath}]")

								.unicorn-text-box
									a(
										href="#why-unicorn"
										@click.prevent="$modal.show('#why-unicorn')"
									) Почему единорог?

						app-modal.modal(name="#why-unicorn" height="450px")
							template(v-slot:title)
								h2 Почему единорог?

							base-content.modal-content
								p.
									Deep sea smelt archerfish yellowfin pike man-of-war fish dorab orbicular batfish?
									Bocaccio, spikefish barbel coelacanth thorny catfish sleeper shark.
									Port Jackson shark; dogteeth tetra sabertooth fish, velvet catfish mudskipper
									southern sandfish golden shiner garpike collared carpetshark garpike coffinfish!
									Weever tonguefish tope fierasfer barbeled houndshark angler catfish zebra bullhead
									shark. Loweye catfish dorab amago lighthousefish scabbard fish duckbilled
									barracudina anemonefish, streamer fish.

								p.
									Betta beaked salmon, Asian carps white shark suckermouth armored catfish redside
									convict blenny oceanic whitetip shark pearl danio. Sand lance gudgeon wahoo ayu
									oilfish dwarf gourami deepwater cardinalfish Mexican blind cavefish catla bream:
									slimy sculpin. Cuckoo wrasse, California flyingfish sixgill shark, ronquil handfish
									slimehead bull trout, "bonefish Atlantic trout carpetshark yellowbanded perch!"
									Bluntnose minnow danio ziege batfish beluga sturgeon Redhorse sucker eelblenny.
									Porcupinefish, dojo loach yellowtail zebra shark climbing gourami Arctic char nurse
									shark, koi driftwood catfish banded killifish peacock flounder! Haddock squirrelfish
									smooth dogfish mrigal plaice lungfish trevally, houndshark. Plunderfish armorhead
									lake whitefish sillago zebra lionfish northern Stargazer zander zander, platy
									barracuda Ragfish temperate bass rockweed gunnel!
