mixin PageSectionIsServices(title = 'Популярные услуги')
	include PageSection

	+PageSection(title).page-section-is-services
		nav.services
			a(
				:class="['services-item', 'services-item-is-1', {'services-item-has-mix-blend-mode': servicesItemHasMixBlendMode}]"
				href=""
			)
				.services-item-inner
					h3.services-item-title Создание логотипа

			a(
				:class="['services-item', 'services-item-is-2', {'services-item-has-mix-blend-mode': servicesItemHasMixBlendMode}]"
				href=""
			)
				.services-item-inner
					h3.services-item-title Аудит сайта

			a(
				:class="['services-item', 'services-item-is-3', {'services-item-has-mix-blend-mode': servicesItemHasMixBlendMode}]"
				href=""
			)
				.services-item-inner
					h3.services-item-title Разработка сайта-визитки

			a(
				:class="['services-item', 'services-item-is-4', {'services-item-has-mix-blend-mode': servicesItemHasMixBlendMode}]"
				href=""
			)
				.services-item-inner
					h3.services-item-title Сбор семантического ядра

			a(
				:class="['services-item', 'services-item-is-5', {'services-item-has-mix-blend-mode': servicesItemHasMixBlendMode}]"
				href=""
			)
				.services-item-inner
					h3.services-item-title Разработка корпоративного сайта

			a(
				:class="['services-item', 'services-item-is-6', {'services-item-has-mix-blend-mode': servicesItemHasMixBlendMode}]"
				href=""
			)
				.services-item-inner
					h3.services-item-title Разработка и SEO продвижение интернет-магазина

