mixin PostsItem({url = '', date = '2019-06-02T15:13:14+04:00', title = 'Post Title', desc = 'Post Description', img = ''} = {})
	template
		article.posts-item&attributes(attributes)
			.body
				.header
					v-lazy-image.img(
						src=img
						alt=title
					)

					base-time.date(
						datetime=date
						locale='ru'
					)

				.main
					h3.title(v-line-clamp="2")=title
					.desc(v-line-clamp="3")=desc
