mixin PostsItem({url = '', date = '2019-06-02T15:13:14+04:00', title = 'Post Title', desc = 'Post Description', img = '', color = '#0a0a0a', backgroundColor = '#ffffff', isLarge = false} = {})
	template
		article.posts-item(:class="{'posts-item-is-large': isLarge}")&attributes(attributes)
			a.body(
				href=url
				:style="{backgroundColor}"
			)
				.header
					v-lazy-image.img(
						src=img
						alt=title
					)

					base-time.date(
						datetime=date
						locale='ru'
					)

				.main
					h3.title(
						v-line-clamp="2"
						:style="{color}"
					)=title

					.desc(
						v-line-clamp="3"
						:style="{color}"
					)=desc
