mixin WorkElement({category = 'Category', title = 'Title', description = 'Description', url = '', image = '', color = '#303030'})
	template
		figure.WorkElement&attributes(attributes)
			a.image-box(
				href=url
				style={backgroundColor: color}
			)
				if image
					img.image(src=image alt=title)

			figcaption.caption(style={backgroundColor: color})
				.description= description
				p.title #[strong #{category}] &mdash; #[span.uppercase #{title}]

				.caption-footer
					a.view-link(href=url) Посмотреть работу

