extends index

include components/SideNav

append vars
	-
		title = 'Статья';

block app
	app-page.page(inline-template)
		+AppPage()
			.grid
				nav.breadcrumb(is="app-breadcrumb")
					a(href="index.html") Главная
					a(href="blog.html") Блог
					| Статья

				app-page-sticky-container.sticky-container(:options="stickyContainerOptions")
					template(v-slot:sidebar)
						aside
							side-nav.side-nav-is-wide.sticky-container-nav(
								inline-template
								v-if="windowWidth >= stickyContainerMinWidth ? true : true"
							)
								+SideNav()

							subscribe-form.sticky-container-subscribe(
								agree-url="blog.html"
								v-if="windowWidth >= 1024"
							)

					h1.title(
						is="base-title"
						tag="h1"
					) Вы думаете они будут ждать, пока ваш сайт загрузится?

				subscribe-form.subscribe-form-is-wide.subscribe(
					agree-url="blog.html"
					v-if="windowWidth < 1024"
				)

			feedback-section.section(inline-template)
				+FeedbackSection()
