extends index

include components/SideNav
include components/AppArticle

append vars
	-
		title = 'Статья';

block app
	app-page.page(inline-template)
		+AppPage()
			a.link-backward(
				ref="linkBackward"
				href="blog.html"
			) Вернуться в блог

			a.link-up(
				ref="linkUp"
				href="#"
			)
				base-icon.link-up-icon(name="angle-left")

			.grid
				nav.breadcrumb(is="app-breadcrumb")
					a(href="swiper-modal-gallery.js.html") Главная
					a(href="blog.html") Блог
					| Статья

				app-page-sticky-container.sticky-container(:options="stickyContainerOptions")
					template(v-slot:sidebar)
						aside
							side-nav.side-nav-is-wide.sticky-container-nav(
								inline-template
								v-if="windowWidth >= stickyContainerMinWidth ? true : true"
							)
								+SideNav()

							subscribe-form.sticky-container-subscribe(
								agree-url="blog.html"
								v-if="windowWidth >= 1024"
							)

					app-article(inline-template)
						+AppArticle()

				subscribe-form.subscribe-form-is-wide.subscribe(
					agree-url="blog.html"
					v-if="windowWidth < 1024"
				)

			feedback-section.section(inline-template)
				+FeedbackSection()
