extends index

include chunks/sticky-container-layout
include components/AppArticle

append vars
	-
		title = 'Статья';

block app
	app-page(inline-template)
		+AppPage()
			a.link-backward(
				v-if="linkBackwardShown"
				href="blog.html"
			) Вернуться в блог

			transition-box
				a.link-up(
					v-if="linkUpShown"
					href="#"
				)
					base-icon.link-up-icon(name="angle-left")

			.grid
				+AppBreadcrumb([['Главная', 'index.html'], ['Блог', 'blog.html'], ['Статья', 'article.html']]).app-page-breadcrumb

				+sticky-container-layout()
					app-article.app-page-article(inline-template)
						+AppArticle()

					// Custom blocks
					section.app-page-section(is="page-section")
						template(slot="title")
							h2 Как мы делаем SEO?

						template(slot="factors-list")
							figure
								template(slot="title")
									p Только белые методы продвижения

								template(slot="description")
									p Вы можете не переживать, что вас забанят, наложат фильтр поисковая система.

							figure
								template(slot="title")
									p Результаты SEO сохраняются надолго

								template(slot="description")
									p В сравнении с контекстной рекламой уже достигнутый результат продвижения сохранится надолго

							figure
								template(slot="title")
									p Первые результаты уже через 2 месяца

								template(slot="description")
									p При условии своевременного выполнения тех. заданий и внедрений изменений на сайт.

							figure
								template(slot="title")
									p Повышаем конверсию и улучшаем юзабилити

								template(slot="description")
									p Вы можете не переживать, что вас забанят, наложат фильтр поисковая система.

							figure
								template(slot="title")
									p Прозрачность продвижения

								template(slot="description")
									p В сравнении с контекстной рекламой уже достигнутый результат продвижения сохранится надолго

							figure
								template(slot="title")
									p Индивидуальный подход

								template(slot="description")
									p При условии своевременного выполнения тех. заданий и внедрений изменений на сайт.

					section.page-section-of-ul.app-page-section(is="page-section")
						template(slot="title")
							h2 Что мы делаем для эффективного продвижения:

						template(slot="ul")
							ul
								li SEO-аудит
								li Анализ ниши и конкурентов
								li Юзабилити анализ
								li Составление списков рекомендаций по страницам сайта

								li Юзабилити анализ
								li SEO-аудит
								li Анализ ниши и конкурентов
								li Составление списков рекомендаций по страницам сайта

								li Составление списков рекомендаций по страницам сайта
								li Анализ ниши и конкурентов
								li Юзабилити анализ
								li SEO-аудит

								li SEO-аудит
								li Анализ ниши и конкурентов
								li Юзабилити анализ

					section.app-page-section(is="page-section")
						template(slot="title")
							h2 Технологии

						template(slot="figures")
							figure
								template(slot="image")
									img(
										src="upload/business.svg"
										alt=""
									)

								template(slot="title")
									p Семантика

								template(slot="description")
									p При условии своевременного выполнения тех. заданий и внедрений изменений на сайт.

							figure
								template(slot="image")
									img(
										src="upload/business.svg"
										alt=""
									)

								template(slot="title")
									p Поведенческие факторы

								template(slot="description")
									p Работаем над юзабилити, чтобы сайт был удобнее для людей.

							figure
								template(slot="image")
									img(
										src="upload/business.svg"
										alt=""
									)

								template(slot="title")
									p Поведенческие факторы

								template(slot="description")
									p Работаем над юзабилити, чтобы сайт был удобнее для людей.

							figure
								template(slot="image")
									img(
										src="upload/business.svg"
										alt=""
									)

								template(slot="title")
									p Семантика

								template(slot="description")
									p При условии своевременного выполнения тех. заданий и внедрений изменений на сайт.

							figure
								template(slot="image")
									img(
										src="upload/business.svg"
										alt=""
									)

								template(slot="title")
									p Семантика

								template(slot="description")
									p При условии своевременного выполнения тех. заданий и внедрений изменений на сайт.

							figure
								template(slot="image")
									img(
										src="upload/business.svg"
										alt=""
									)

								template(slot="title")
									p Поведенческие факторы

								template(slot="description")
									p Работаем над юзабилити, чтобы сайт был удобнее для людей.

							figure
								template(slot="image")
									img(
										src="upload/business.svg"
										alt=""
									)

								template(slot="title")
									p Поведенческие факторы

								template(slot="description")
									p Работаем над юзабилити, чтобы сайт был удобнее для людей.

							figure
								template(slot="image")
									img(
										src="upload/business.svg"
										alt=""
									)

								template(slot="title")
									p Семантика

								template(slot="description")
									p При условии своевременного выполнения тех. заданий и внедрений изменений на сайт.

							figure
								template(slot="image")
									img(
										src="upload/business.svg"
										alt=""
									)

								template(slot="title")
									p Семантика

								template(slot="description")
									p При условии своевременного выполнения тех. заданий и внедрений изменений на сайт.

							figure
								template(slot="image")
									img(
										src="upload/business.svg"
										alt=""
									)

								template(slot="title")
									p Поведенческие факторы

								template(slot="description")
									p Работаем над юзабилити, чтобы сайт был удобнее для людей.

					section.app-page-section(is="page-section")
						template(slot="title")
							h2 Вы спрашиваете, мы отвечаем

						template(slot="faq")
							figure
								template(slot="title")
									p Что такое SEO и зачем оно нужно?

								template(slot="content")
									p Менеджер проекта — это специалист, отвечающий за успешное выполнение проекта: в указанные заказчиком сроки, с необходимым качеством, при фиксированном бюджете, ограниченных человеческих ресурсах и в соответствии с требованиями со стороны заказчика.

									p Зачастую это #[a(href="") административный руководитель] функциональной проектной группы, который обеспечивает оперативное руководство и контролирует осуществление работ, проводимых в рамках проекта. В условиях постоянного усиления конкуренции особенно актуальными становятся готовность компании к непредвиденным поворотам событий и способность грамотных менеджеров предугадывать, планировать и управлять изменениями. В бизнесе работа по проекту является своего рода искусством и требует умений, времени и сил.

							figure
								template(slot="title")
									p Входит ли в редизайн фирменного стиля переработка логотипа?

								template(slot="content")
									p Менеджер проекта — это специалист, отвечающий за успешное выполнение проекта: в указанные заказчиком сроки, с необходимым качеством, при фиксированном бюджете, ограниченных человеческих ресурсах и в соответствии с требованиями со стороны заказчика.

									p Зачастую это административный руководитель функциональной проектной группы, который обеспечивает оперативное руководство и контролирует осуществление работ, проводимых в рамках проекта. В условиях постоянного усиления конкуренции особенно актуальными становятся готовность компании к непредвиденным поворотам событий и способность грамотных менеджеров предугадывать, планировать и управлять изменениями. В бизнесе работа по проекту является своего рода искусством и требует умений, времени и сил.

							figure
								template(slot="title")
									p Входит ли в редизайн фирменного стиля переработка логотипа и брендбука?

								template(slot="content")
									p Менеджер проекта — это специалист, отвечающий за успешное выполнение проекта: в указанные заказчиком сроки, с необходимым качеством, при фиксированном бюджете, ограниченных человеческих ресурсах и в соответствии с требованиями со стороны заказчика.

									p Зачастую это административный руководитель функциональной проектной группы, который обеспечивает оперативное руководство и контролирует осуществление работ, проводимых в рамках проекта. В условиях постоянного усиления конкуренции особенно актуальными становятся готовность компании к непредвиденным поворотам событий и способность грамотных менеджеров предугадывать, планировать и управлять изменениями. В бизнесе работа по проекту является своего рода искусством и требует умений, времени и сил.

					order-section.app-page-order-section
						template(slot="image")
							img(
								src="upload/bank.jpg"
								alt=""
							)

						template(slot="title")
							p Мы не берем денег за рассказы банальных вещей о ваших внутренних проблемах.

						template(slot="content")
							p Вместо этого предлагаем решения, при этом готовы сами их реализовать и нести ответственность за результат.
