extends index

include components/SideNav
include components/BlogPosts

append vars
	-
		title = 'Блог';

block app
	app-page.is-theme-dark.page(inline-template)
		+AppPage()
			.grid
				nav.breadcrumb(is="app-breadcrumb")
					a(href="/") Главная
					| Блог

				h1.title(
					is="base-title"
					tag="h1"
				) Блог с&nbsp;полезным контентом для всех, #[br]кто интересуется IT

				app-page-sticky-container.sticky-container(:options="stickyContainerOptions")
					template(v-slot:sidebar)
						aside
							side-nav.side-nav-is-wide.sticky-container-nav(
								inline-template
								v-if="windowWidth >= stickyContainerMinWidth ? true : true"
							)
								+SideNav()

							subscribe-form.sticky-container-subscribe(
								agree-url="blog.html"
								v-if="windowWidth >= 1024"
							)

					blog-posts.posts(inline-template)
						+BlogPosts()

				subscribe-form.subscribe-form-is-wide.subscribe(
					agree-url="blog.html"
					v-if="windowWidth < 1024"
				)

			feedback-section.section(inline-template)
				+FeedbackSection()
