extends index

append vars
	-
		title = 'Создание сайтов под ключ';

block app
	app-page(inline-template)
		+AppPage()
			.grid
				-
					const breadcrumbs = [
						['Главная', 'index.html'],
						['Услуги', 'services.html'],
						['Создание сайтов под ключ', 'development.html']
					];

				+AppBreadcrumb(breadcrumbs).app-page-breadcrumb

			section.padding-top-none.app-page-fancy-section(
				is="fancy-section"
				scroll-down
			)
				template(slot="title")
					h1 Создание сайтов под ключ

				template(slot="content")
					p.
						Говорят, что сайты уже никому не&nbsp;нужны, ведь &laquo;Все покупают в&nbsp;соцсетях&raquo;!
						Мы&nbsp;считаем, что это не&nbsp;так.
						Даже если вы&nbsp;продаете товары только в&nbsp;Instagram и&nbsp;получаете хорошую прибыль, помните&nbsp;&mdash; страничку
						можно потерять за&nbsp;пару минут. Поэтому сайт&nbsp;&mdash; более надежный инструмент для получения прибыли.

					p.
						#[strong Мы&nbsp;делаем сайты качественно&nbsp;&mdash; без использования шаблонных решений и&nbsp;неадекватного дизайна]

				template(slot="buttons")
					a(href="#feedback-section") Заказать сайт

				aside(
					slot="articles"
					is="template"
				)
					figure
						template(slot="image")
							img(
								src="upload/thinking.svg"
								alt=""
							)

						template(slot="title")
							p Функционал любой сложности

						template(slot="description")
							p Беремся за сложные проекты и предлагаем правильные решения

					figure
						template(slot="image")
							img(
								src="upload/industry-ux-ui.svg"
								alt=""
							)

						template(slot="title")
							p Учитываем особенности отрасли и UX

						template(slot="description")
							p Учет особенностей отрасли и пользовательского опыта

					figure
						template(slot="image")
							img(
								src="upload/project.svg"
								alt=""
							)

						template(slot="title")
							p Оптимизируем сайт под поиск

						template(slot="description")
							p Грамотная оптимизация под поисковые системы на этапе разработки сайта

			section.app-page-section(is="page-section")
				template(slot="title")
					h2 Чем хороший сео сайт отличается от&nbsp;среднего и&nbsp;плохого?

				template(slot="articles-carousel")
					article(bg-color="")
						template(slot="image")
							img(
								src="upload/monitoring.svg"
								alt=""
							)

						template(slot="title")
							h2 Продуманный UX

						template(slot="description")
							p Благодаря ему улучшаются #[a(href="") поведенческие факторы]. Падает процент отказов, увеличивается длина сессии, глубина просмотра и т.д. Растет поисковый трафик и повышаются позиции в выдаче. Следовательно, увеличиваются конверсии и продажи.

					article(bg-color="#2d8896")
						template(slot="image")
							img(
								src="upload/fingerprint.svg"
								alt=""
							)

						template(slot="title")
							h2 Уникальный дизайн

						template(slot="description")
							p Такой сайт является по истине авторской работой. Дизайн, формы, размеры структура, элементы — все это рисуется с нуля под конкретные потребности заказчика. Создается дизайн-макет, уникальный в своем роде.

					article(bg-color="#2d7c96")
						template(slot="image")
							img(
								src="upload/content.svg"
								alt=""
							)

						template(slot="title")
							h2 SEO-оптимизация

						template(slot="description")
							p Грамотная оптимизация под поисковые системы на этапе разработки сайта.
							p Растет поисковый трафик и повышаются позиции в выдаче. Следовательно, увеличиваются конверсии и продажи.

			section.app-page-section(is="page-section")
				template(slot="title")
					h2 Сколько специалистов нужно для&nbsp;создания сайта?

				template(slot="slider")
					figure
						template(slot="image")
							img(
								data-src="upload/haber-gorsel-6.jpg"
								alt="Менеджер проекта"
							)

						template(slot="title")
							p Менеджер проекта

						template(slot="content")
							p Менеджер проекта — это специалист, отвечающий за успешное выполнение проекта: в #[a(href="") указанные заказчиком сроки], с необходимым качеством, при фиксированном бюджете, ограниченных человеческих ресурсах и в соответствии с требованиями со стороны заказчика.
							p Зачастую это административный руководитель #[a(href="") функциональной проектной группы], который обеспечивает оперативное руководство и контролирует осуществление работ, проводимых в рамках проекта. В условиях постоянного усиления конкуренции особенно актуальными становятся готовность компании к непредвиденным поворотам событий и способность грамотных менеджеров предугадывать, планировать и управлять изменениями. В бизнесе работа по проекту является своего рода искусством и требует умений, времени и сил.

					figure
						template(slot="image")
							img(
								data-src="upload/gallery/image-1.jpg"
								alt=""
							)

						template(slot="title")
							p Веб-дизайнер

						template(slot="content")
							p Web-дизайнер — это человек, обладающий художественным вкусом и знаниями интернет-технологий, который создает Web-страницы и объединяет их в Web-сайты.
							//p Главная задача web-дизайнера — оформить интернет-проект так, чтобы как можно больше пользователей им заинтересовалось.

					figure
						template(slot="image")
							img(
								data-src="upload/gallery/image-2.jpg"
								alt=""
							)

						template(slot="title")
							p Back-end разработчик

						template(slot="content")
							p Бэк-энд разработчик (с англ. back-end (оборотная сторона) developer) — это специалист, который занимается программно-административной частью веб-приложения, внутренним содержанием системы, серверными технологиями — базой данных, архитектурой, программной логикой.

					figure
						template(slot="image")
							img(
								data-src="upload/gallery/image-3.jpg"
								alt=""
							)

						template(slot="title")
							p СЕО оптимизатор

						template(slot="content")
							p Настройкой взаимодействия сайта и поисковых систем занимается специалист по SEO, то есть, по поисковой оптимизации (англ. search engine optimization). SEO-оптимизация по характеру задач относится к сфере IT и маркетингу.

					figure
						template(slot="image")
							img(
								data-src="upload/gallery/image-4.jpg"
								alt=""
							)

						template(slot="title")
							p Front-end разработчик

						template(slot="content")
							p Фронт-энд разработчик (с англ. «front-end developer») — это программист, занимающийся разработкой пользовательского интерфейса, то есть внешней публичной части сайта в браузере. Главная задача фронт-энд разработчика — сделать максимально удобным взаимодействие пользователей с сайтом или веб-приложением.

					figure
						template(slot="image")
							img(
								data-src="upload/gallery/image-5.jpg"
								alt=""
							)

						template(slot="title")
							p QA / Тестировщик

						template(slot="content")
							p QA-инженер – Quality Assurance engineer (Quality Assurance дословно означает «обеспечение качества») - это специалист по функциональному тестированию программного обеспечения на этапе разработки. На практике иногда ошибочно считают, что QA-инженер и тестировщик ПО — это одно и то же. На самом деле, тестировщик программного обеспечения занимается тестировкой уже готового ПО, а QA-инженер работает над формированием процессов тестирования на этапе разработки, которые в результате обеспечат повышение качества ПО.

			section.page-section-gray.app-page-section(is="page-section")
				template(slot="title")
					h2 Сколько это стоит?

				template(slot="landing-cards")
					figure


			page-section.app-page-section(inline-template)
				+PageSection('Наши работы')
					app-carousel-of-works.app-page-works-carousel(inline-template)
						+AppCarouselOfWorks()

			work-section.app-page-work-section(inline-template)
				+WorkSection('Почему выбирают нас')

			page-section.app-page-section(inline-template)
				+PageSection('Отзывы')
					app-carousel-of-reviews.app-page-reviews-carousel(inline-template)
						+AppCarouselOfReviews()
