block variables
	-
		let lang = 'ru',
			title = 'Base Template',
			meta = {
				viewport: 'width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no'
			};

doctype html
html(lang=lang)
	head
		block title
			title= (title || htmlWebpackPlugin.options.title) + ' — ' + VUE_APP_NAME

		block meta
			meta(charset="utf-8")
			meta(name="viewport" content=meta.viewport)

		//- base(href=BASE_URL)

		block favicon
			link(rel="icon" href=`${BASE_URL}favicon.ico`)

		block head-styles
		block head-scripts
		// built files will be auto injected
	body
		noscript
			strong.
				We're sorry but this app doesn't work properly without JavaScript enabled. Please enable it to continue.

		block templates

		#app
			block app

		block body-scripts
		// built files will be auto injected
