block variables
	-
		let lang = 'ru',
			title = 'Base Template',
			meta = {
				viewport: 'width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, shrink-to-fit=no'
			};

block mixins
	mixin defineTemplate(componentName, tagName)
		-
			attributes = Object.assign({
				is: typeof tagName === 'string' ? componentName : null,
				class: componentName,
				'inline-template': true
			}, attributes);

		if typeof tagName === 'string'
			#{tagName}&attributes(attributes)
				if attributes['inline-template']
					block
		else
			#{componentName}&attributes(attributes)
				if attributes['inline-template']
					block

	//-
	mixin test
		.type-of-inline-template&attributes(attributes)= typeof attributes['inline-template']
		.value-inline-template&attributes(attributes)= attributes['inline-template']
	//-

doctype html
html(lang=lang)
	head
		block title
			title= VUE_APP_NAME + ' — ' + title || htmlWebpackPlugin.options.title

		block meta
			meta(charset="utf-8")
			meta(name="viewport" content=meta.viewport)

		//- base(href=BASE_URL)

		block favicon
			link(rel="icon" href=`${BASE_URL}favicon.ico`)

		block head-styles
		block head-scripts
	body
		noscript
			strong We're sorry but this app doesn't work properly without JavaScript enabled. Please enable it to continue.

		block templates

		#app
			block app

		block body-scripts
		// built files will be auto injected
