extends index

append vars
	-
		title = 'SEO Продвижение';

block app
	app-page(inline-template)
		+AppPage('upload/seo-bg.jpg')
			.grid
				-
					const breadcrumbs = [
						['Главная', 'index.html'],
						['Услуги', 'services.html'],
						['SEO Продвижение', 'seo.html']
					];

				+AppBreadcrumb(breadcrumbs).app-page-breadcrumb

			section.padding-top-none.transparent.app-page-fancy-section(
				is="fancy-section"
				scroll-down
			)
				template(slot="title")
					h1 SEO Продвижение

				template(slot="content")
					p Цель SEO (поисковой оптимизации) — получить больше клиентов из поисковых систем. Работы по SEO поднимают сайт на первые позиции в Яндекс и Google.

					p
						img(
							src="upload/search-field.png"
							alt="Как работает SEO?"
						)

					p Чтобы найти товары или услуги, пользователи вводят в строку поиска запросы и поисковая система показывает ответ — сайты, которые соответствуют потребности пользователя. Это 10 лучших сайтов (топ-10), которые вы видите на первой странице поиска.

					p Чтобы сайт попал в топ-10, его нужно оптимизировать — доказать поисковой системе, что он полезен людям и содержит ответ на их запросы. Выглядит просто, но оптимизация включает значительные объемы работ, и требует специфический знаний.

				template(slot="seo")
					aside
						template(slot="image")
							img(
								src="upload/imac3.png"
								alt=""
							)

						template(slot="button")
							a(href="seo.html#feedback-section") Заказать SEO

			section.app-page-section(is="page-section")
				template(slot="title")
					h2 Как мы делаем SEO?

				template(slot="factors-list")
					figure
						template(slot="title")
							p Только белые методы продвижения

						template(slot="description")
							p Вы можете не переживать, что вас забанят, наложат фильтр поисковая система.

					figure
						template(slot="title")
							p Результаты SEO сохраняются надолго

						template(slot="description")
							p В сравнении с контекстной рекламой уже достигнутый результат продвижения сохранится надолго

					figure
						template(slot="title")
							p Первые результаты уже через 2 месяца

						template(slot="description")
							p При условии своевременного выполнения тех. заданий и внедрений изменений на сайт.

					figure
						template(slot="title")
							p Повышаем конверсию и улучшаем юзабилити

						template(slot="description")
							p Вы можете не переживать, что вас забанят, наложат фильтр поисковая система.

					figure
						template(slot="title")
							p Прозрачность продвижения

						template(slot="description")
							p В сравнении с контекстной рекламой уже достигнутый результат продвижения сохранится надолго

					figure
						template(slot="title")
							p Индивидуальный подход

						template(slot="description")
							p При условии своевременного выполнения тех. заданий и внедрений изменений на сайт.

			quote-section.app-page-quote-section(inline-template)
				-
					const quote = {
						subject: 'Гарантии качества',
						quote: '<p>Гарантируем качественно и в срок выполнить все работы, использовать технологии и стратегии, испытанные на множестве проектов.</p>'
					}

				+QuoteSection(quote)

			section.page-section-of-ul.app-page-section(is="page-section")
				template(slot="title")
					h2 Что мы делаем для эффективного продвижения:

				template(slot="ul")
					ul
						li SEO-аудит
						li Анализ ниши и конкурентов
						li Юзабилити анализ
						li Составление списков рекомендаций по страницам сайта

						li Юзабилити анализ
						li SEO-аудит
						li Анализ ниши и конкурентов
						li Составление списков рекомендаций по страницам сайта

						li Составление списков рекомендаций по страницам сайта
						li Анализ ниши и конкурентов
						li Юзабилити анализ
						li SEO-аудит

						li SEO-аудит
						li Анализ ниши и конкурентов
						li Юзабилити анализ

			section.app-page-section(is="page-section")
				template(slot="title")
					h2 Технологии

				template(slot="figures")
					figure
						template(slot="image")
							img(
								src="upload/business.svg"
								alt=""
							)

						template(slot="title")
							p Семантика

						template(slot="description")
							p При условии своевременного выполнения тех. заданий и внедрений изменений на сайт.

					figure
						template(slot="image")
							img(
								src="upload/business.svg"
								alt=""
							)

						template(slot="title")
							p Поведенческие факторы

						template(slot="description")
							p Работаем над юзабилити, чтобы сайт был удобнее для людей.

					figure
						template(slot="image")
							img(
								src="upload/business.svg"
								alt=""
							)

						template(slot="title")
							p Поведенческие факторы

						template(slot="description")
							p Работаем над юзабилити, чтобы сайт был удобнее для людей.

					figure
						template(slot="image")
							img(
								src="upload/business.svg"
								alt=""
							)

						template(slot="title")
							p Семантика

						template(slot="description")
							p При условии своевременного выполнения тех. заданий и внедрений изменений на сайт.

					figure
						template(slot="image")
							img(
								src="upload/business.svg"
								alt=""
							)

						template(slot="title")
							p Семантика

						template(slot="description")
							p При условии своевременного выполнения тех. заданий и внедрений изменений на сайт.

					figure
						template(slot="image")
							img(
								src="upload/business.svg"
								alt=""
							)

						template(slot="title")
							p Поведенческие факторы

						template(slot="description")
							p Работаем над юзабилити, чтобы сайт был удобнее для людей.

					figure
						template(slot="image")
							img(
								src="upload/business.svg"
								alt=""
							)

						template(slot="title")
							p Поведенческие факторы

						template(slot="description")
							p Работаем над юзабилити, чтобы сайт был удобнее для людей.

					figure
						template(slot="image")
							img(
								src="upload/business.svg"
								alt=""
							)

						template(slot="title")
							p Семантика

						template(slot="description")
							p При условии своевременного выполнения тех. заданий и внедрений изменений на сайт.

					figure
						template(slot="image")
							img(
								src="upload/business.svg"
								alt=""
							)

						template(slot="title")
							p Семантика

						template(slot="description")
							p При условии своевременного выполнения тех. заданий и внедрений изменений на сайт.

					figure
						template(slot="image")
							img(
								src="upload/business.svg"
								alt=""
							)

						template(slot="title")
							p Поведенческие факторы

						template(slot="description")
							p Работаем над юзабилити, чтобы сайт был удобнее для людей.
